@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Bold.ttf);
}
*{
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: "Montserrat";
}
li {
    font-family: "Arial", cursive, sans-serif
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 5 px;
      font-size: 0.9em;
    }
    td, th {
      text-align: center;
    }
img {
    display: block;
    width: 100%;
}
.main-header .container{
    padding: 0 20px;
}
.main-header__title{
    text-align:center;
    font-size: 1em;
    margin: 10px 0;
    color: #454546;
    font-family: "Poppins";
}
.main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Estilos del Menu*/

.main-nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    z-index: 999999;
}
.menu{
    position: absolute;
    top: 180px;
    left: 0;
    background: #212121;
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0;
}
.menu__item{
    text-align: center;
    margin: auto;
}
.menu__link{
    padding: 20px;
    color: #212121;
    text-decoration: none;
    position: relative;
    display: block;
}
.menu__link:hover{
    background: #333;
    color: white;
}
.mostrar{
    opacity: 1;
    visibility: visible;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: rgb(46, 46, 241);
    transition: all ease 0.5s;
}

.icon-menu{
    font-size: 1.5em;
    border: 1px solid #454546;
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto;
}
.main-header__btn{
    display: block;
    padding: 10px 30px;
    color: #454546;
    text-decoration: none;
}
.main-product__btn{
    display: block;
    padding: 10px 30px;
    color: #2e2e2e;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    background-color: #d5b428;
    
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
}

.main-product__btn:hover{
    background-color: transparent;
    transition: all ease-in-out 0.5s;
    border: 1px solid black;
}

.main-header__input{
    display: block;
    padding: 10px;
}
.main{
    padding: 20px;
}
.container-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
}
.slider {
    display: flex;
    width: 200%;
    height: 200px;
    margin-left: -100%;
    position: relative;
}
.slider:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}
.slider__section{
    width: 100%;
    position: relative;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    z-index: 999;
}
.slider__btn:hover{
    background: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}
.slider__content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}
.slider__title{
    font-size: 95%;
    margin: 0;
}
.slider__txt{
    margin: 5px 0;
    font-size: 90%;
}

/* Estilos de productos */
.container-products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.product{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}

.product:hover{
   transform: scale(1.09);
    transition: all ease 0.5s;
}
.product__img{
    width: 50%;
    height: 100px;
    object-fit: cover;
}
.product-title{
    text-align: center;
}
.product__description{
    color: black;
    font-weight: bold;  
}
.product__price{
    color: #FF4E00;
    font-weight: bold;
}
.product__icon{
    display: block;
    margin-top: 10px 0;
}
.main-footer{
    background: #151515;
    color: white;
    padding: 30px 20px;
}
.footer__title{
    border-bottom: 1px dotted #555;
    padding-bottom: 20px;
}
.footer__txt{
    color: #555;
}
/* Estilos para tablet*/

@media screen and (min-width:768px) {
    .slider {
        height: 50%;
    }
    .slider__title{
        font-size: 2rem;
    }
    .slider__txt{
        font-size: 1.8rem;
    }
}
@media screen and (max-width:446px) {
    .container-products {
        /* display: grid; */
        /* grid-template-columns: repeat(2, 1fr); */
        /* grid-gap: 10px; */
        display: flex;
        flex-direction: column;
    }
    .main-header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }
}

/* Estilos para web*/
@media screen and (min-width:1024px) {
    .icon-menu{
        display: none;
    }
    .main-header .container--flex{
        display: flex;
        align-items: center;
    }
    .main-header__container{
        flex-wrap: wrap;
        align-content: flex-start;
    }
    .main-header__container:nth-child(2){
        width: 25%;
        order: -1;
    }
    .main-header__container:nth-child(3){
        width: 25%;
        padding: 0 20px;
    }
    .main-header__title{
        width: 100%;
        font-size: 2.5em;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    .main-header__link{
        margin-bottom: 20px;
    }
    .main-header__btn{
        width: 130px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .main-header__input{
        width: 80%;
    }
    .main-nav{
        visibility: visible;
        opacity: 1;
        width: 100%;
        margin-top: 20px;
    }
    .menu{
        position: static;
        width: 100%;
        display: flex;
        background: none;
    }
    .menu__link{
        color: #333;
    }
    .menu__link:hover{
        background: #333;
        color: white;
    }
    .container-products{
        grid-template-columns: repeat(4,1fr);
        grid-gap: 15px;
    }
    .product__img{
        height: 150px;
    }
    .main-footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}


/*Responsive*/
@media screen and (max-device-width: 768px)  {
    .container-products{
        display: flex;
        flex-direction: column;
    }

    .product__img{
        object-fit: contain;
    }
    .slider{
        height: 500px;
    }
    .slider__title{
        font-size: 1.5rem;
    }
    .slider__txt{
        font-size: 18px;
    }
    .contactos{
        margin-top: 10px;
        display: inline-block;
        font-size: 1.4rem;
    }

    .main-header__title{
        font-size: 1.4rem;
    }
    .product-title{
        font-size: 27px;
    }

    .product__price{
        font-size: 26px;
    }

    /* .main-product__btn{
        display: block;
    padding: 10px 30px;
    color: #2e2e2e;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    background-color: #d5b428;
    
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    } */
    
}
